.header {
    padding: .5rem;
    z-index: 0;
    border-radius: 50px;

    background-color: rgba(10, 10, 10, 0.75);
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 3rem;
    position: relative;
    border-radius: 50px;

    background-color: rgba(217, 217, 217, 0.1);
}

.nav-indicator {
    position: absolute;
    height: 2.5rem;
    left: 0;
    width: 0;
    border-radius: 50px;

    background-color: rgba(217, 217, 217, 0.2);
}

.nav-button {
    height: 2.5rem;
    padding: 0px 1rem 0px 1rem;
    z-index: 1;
    border-radius: 50px;

    color: var(--text);
}

.nav-button:hover {
    background-color: rgba(217, 217, 217, 0.2);
}

.nav-button:active {
    background-color: rgba(217, 217, 217, 0.3);
}