body {
  margin: 0;
  min-width: 300px;
  min-height: 100vh;
}

:root {
  --text: #eeeaea;

  --button-text-size: 1.3rem;
  --element-padding: 0.25rem;
  --element-border-color: rgba(10, 10, 10, 0.75);
}

button {
  background: none;
  border: none;
  cursor: pointer;

  font-size: var(--button-text-size);
  font-family: Inter, sans-serif;
}